body {
    font-family: $lato;
    font-weight: 400;
    color: $text-main;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 300;
    @media screen and (max-width: 992px) {
        font-size: 60px;
        line-height: 70px;
    }
    @media screen and (max-width: 768px) {
        font-size: 44px;
        line-height: 50px;
    }
}

.subtitle {
    font-size: 24px;
    line-height: 24px;
    color: $text-medium;
    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
}