.home {
    padding-top: 24px;
    padding-bottom: 134px;
    &__top {
        h1 {
            margin-bottom: 32px;
            @media screen and (max-width: 992px) {
                margin-bottom: 24px;
            }
            @media screen and (max-width: 768px) {
                margin-bottom: 16px;
            }
        }
        .subtitle {
            margin-bottom: 20px;
        }
        h1, .subtitle {
            text-align: center;
        }
    }
    &__current {
        margin-bottom: 80px;
        &-card {
            margin: auto;
            width: 100%;
            max-width: 824px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 60px;
        }
    }
    &__other {
        &-list {
            display: grid;
            grid-gap: 40px;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            @media screen and (max-width: 1280px) {
                grid-gap: 30px;
                grid-template-columns: repeat(3, 1fr);
            }
            @media screen and (max-width: 992px) {
                grid-gap: 20px;
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: 768px) {
                grid-gap: 20px;
                grid-template-columns: 1fr;
            }
        }
        &-notification {
          text-align: center;
          font-size: 24px;
          line-height: 24px;
        }
    }
    &__add-button {
        position: fixed;
        right: 45px;
        bottom: 34px;
        outline: none;
        border: none;
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        border-radius: 50%;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
        transition: $cubic;
        cursor: pointer;
        &:hover {
            background-color: lighten($primary, 10%);
        }
        &:active {
            background-color: darken($primary, 10%);
        }
        @media screen and (max-width: 992px) {
            right: 20px;
            bottom: 30px;
        }
    }
    @media screen and (max-width: 768px) {
        padding-bottom: 120px;
    }
}